.version.avcerca /* version checker */
{
	color: #000016;
	background-color: #5C708A;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1046px;
	min-height: 915px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#avcerca
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 28px;
}

#u633
{
	z-index: 5;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 463px;
}

#u633_img
{
	padding-bottom: 1px;
}

#u617
{
	z-index: 3;
	width: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 855px;
	left: 962px;
}

body
{
	position: relative;
	min-width: 1046px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

