.version.index2 /* version checker */
{
	color: #000003;
	background-color: #868FCA;
}

.html
{
	background-color: #46474C;
}

#page
{
	z-index: 1;
	width: 1046px;
	min-height: 612px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 107px;
}

#u335
{
	z-index: 2;
	width: 1048px;
}

#u335_img
{
	padding-right: 1px;
}

#u473
{
	z-index: 4;
	width: 111px;
	background-color: transparent;
	margin-left: 468px;
	margin-top: 27px;
	position: relative;
}

#u490
{
	z-index: 6;
	width: 433px;
	background-color: transparent;
	margin-left: 313px;
	position: relative;
}

#buttonu495
{
	z-index: 8;
	width: 153px;
	height: 70px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-left: 447px;
	margin-top: 25px;
	position: relative;
	background: transparent url("../images/ingrese-1.png") no-repeat left top;
}

#buttonu495:hover
{
	margin: 25px 0px 0px 447px;
	background: transparent url("../images/ingrese-2.png") no-repeat left top;
}

body
{
	position: relative;
	min-width: 1046px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

