.version.index /* version checker */
{
	color: #0000E5;
	background-color: #173AC1;
}

.html
{
	background-color: #46474C;
}

#page
{
	z-index: 1;
	width: 1046px;
	min-height: 499.99999999999994px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 115px;
}

#u335
{
	z-index: 2;
	width: 1048px;
}

#u335_img
{
	padding-right: 1px;
}

#pu328
{
	width: 0.01px;
	margin-left: 360px;
	margin-top: 16px;
}

#u328
{
	z-index: 4;
	width: 320px;
	border-width: 5px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u83
{
	z-index: 5;
	width: 321px;
	min-height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 1px;
}

#u329
{
	z-index: 6;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 126px;
}

body
{
	position: relative;
	min-width: 1046px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

