.version.panel /* version checker */
{
	color: #000014;
	background-color: #CA1B44;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1046px;
	min-height: 793px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 7px;
	margin-left: auto;
	margin-right: auto;
}

#slideshowu261
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 155px;
}

#u277
{
	position: absolute;
	background-color: transparent;
}

#u277popup
{
	z-index: 3;
}

#u282
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#untitled
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: -155px;
	left: 55px;
}

#u313
{
	z-index: 7;
	width: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 733px;
	left: 961px;
}

body
{
	position: relative;
	min-width: 1046px;
	padding-top: 36px;
	padding-bottom: 91px;
}

#page .verticalspacer
{
	clear: both;
}

